:root {
    --background: #0d1117;
    --background-content: #161b22;
    --background-conten-block: #21262d;
    --text: #e6edf3;
    --secondary-text: #8b949e;
    /* --accent: #58a6ff; */
    --accent: #1f6feb;
    --navigation: #132d55;
    --header-footer: #1a1f2c;

    --shadow-content-block: 0 4px 20px rgba(0, 0, 0, 0.4);
    --shadow-navigation: 0 0 10px rgba(88, 166, 255, 0.8);
    --shadow-skills: 0 3px 15px rgba(31, 111, 235, 0.4);
    --shasow-skills-hover: 0 5px 25px rgba(31, 111, 235, 0.4);
}

/* Основные стили */
body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Хэдер, футер */
header,
footer {
    background-color: var(--header-footer);
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Меню навигации */
#navigation {
    list-style: none;
    padding: 25px 40px;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--navigation);
    display: flex;
    justify-content: center;
    gap: 40px;
}

#navigation li a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    padding: 12px 30px;
    transition: all 0.2s ease;
}

#navigation li a:hover {
    color: var(--accent);
    transform: scale(10);
}

/* Контент */
#content {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    background: var(--background-content);
}

/* Главная страница */
#profile {
    text-align: center;
    margin-bottom: 40px;
}

#title {
    font-size: 40px;
    margin-bottom: 40px;
}

img {
    height: 350px;
    width: 330px;
    border: 4px solid var(--accent);
    border-radius: 50px;
}

#name {
    font-size: 26px;
    margin: 10px 0;
    font-weight: 500;
}

#group {
    font-size: 24px;
    margin: 10px 0;
}

#about-me {
    padding: 20px;
    margin: 30px 0;
    font-size: 18px;
    background-color: var(--background-conten-block);
    border-radius: 25px;
    border-left: 5px solid var(--accent);
    line-height: 1.6;
    box-shadow: var(--shadow-content-block);
}

#skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 30px 0;
}

#skill {
    background-color: var(--background-conten-block);
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: var(--shadow-skills);
    transition: all 0.3s ease;
}

#skill:hover {
    transform: translateY(-3px);
    box-shadow: var(--shasow-skills-hover);
}

/* Опыт работы */
#experience {
    margin-top: 50px;
}

#experience h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

.experience-card {
    background-color: var(--background-conten-block);
    padding: 25px;
    margin: 20px 0;
    border-radius: 25px;
    box-shadow: var();
    border-left: 5px solid var(--accent);
    box-shadow: var(--shadow-content-block);
    transition: transform 0.3s ease;
}

.experience-card:hover {
    transform: translateX(8px);
}

.experience-card h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: 600;
}

.experience-card p {
    line-height: 1.6;
    margin: 0;
}